.box {
    width: 200px;
    height: 100px;
    background: #16ddb2;
    transition: all 500ms;
}
.box:hover{
    transform: rotate(45deg);
}
.box2 {
    width: 200px;
    height: 100px;
    background: #cf0000;
    transition: all .5s;
}
.box2:hover {
    transform:translateY(50px)
}
.box3 {
    width: 200px;
    height: 100px;
    background: #6b19b8;
    transition: all .5s;
}

.box3:hover {
    transform: scale(1.1,1.1);
}
.box4 {
    width: 200px;
    height: 100px;
    background: rgb(224, 0, 176);
    transition: all .5s ease; 
}
.box4:hover {
    transform: scaleX(1.5);
}
.box5 {
    width: 200px;
    height: 100px;
    background: #08ddc1;
    transition: all .5s;
}
.box5:hover {
    transform: skew(20deg, 20deg);
}
